<a href="https://colab.research.google.com/github/ficosta/MentoriaEvolution/blob/master/me_linguagem_python_exercicios_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

In [0]:
# Sim!

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [0]:
# a
nome_idade = ['Felipe', 25, 'Marjory', 28, 'Leo', 32]

In [6]:
print(nome_idade[1])

25

In [7]:
len(nome_idade)

6

In [0]:
nome_idade[1] = 35

In [9]:
nome_idade.pop(4)
print(nome_idade)

['Felipe', 35, 'Marjory', 28, 32]

In [0]:
salarios = [900,1200,1500,800,12587,10000]

In [31]:
10000 in salarios

True

In [32]:
min(salarios)

800

In [33]:
max(salarios)

12587

In [0]:
salarios.append(7000)

In [0]:
salarios.extend([5000,30000])

In [36]:
salarios.index(800)

3

In [37]:
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 5000, 30000]

In [40]:
salarios.sort(key=int,reverse=True)
salarios

[30000, 12587, 10000, 7000, 5000, 1500, 1200, 900, 800]

In [41]:
salarios.sort(key=int,reverse=False)
salarios

[800, 900, 1200, 1500, 5000, 7000, 10000, 12587, 30000]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [0]:
pessoas = {'Rodrigo':30, 'Fulana':18}

In [44]:
pessoas['Fulana']

18

In [46]:
pessoas.keys()

dict_keys(['Rodrigo', 'Fulana'])

In [47]:
pessoas.values()

dict_values([30, 18])

In [48]:
pessoas.setdefault('Felipe',30)

30

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [49]:
if 5 > 1:
  print("5 é maior que 1")

5 é maior que 1

In [50]:
x1 = 20
y1 = 10
if x1 > y1 :
  print("x1 maior que y1")
else:
  print("y1 maior que x1")

x1 maior que y1

In [51]:
list =  [2,3,4,5,6,7]
for i in list:
  print(i*2)

4
6
8
10
12
14

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**